
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
     <!--    <link rel="stylesheet" type="text/css" href="public/chat.css" />
        <link rel="stylesheet" type="text/css" href="public/chat.js" /> -->
        <title>{{ .title }}</title>
    </head>
    <body>
        <div class="box">
            <div class="item left">
                <span class="message">爱你呦</span>
            </div>
            <div class="chart-timer">
                2019-5-17
            </div>
            <div class="item right">
                <span class="message">哈哈哈哈哈</span>
            </div>
        </div>

        <div class="input-box">
            <input type="text" />
            <button>确定</button>
        </div>
    </body>
</html>
